<div style="position: relative"> <!-- position: relative needed for absolute footer -->
  <!-- Absolute and fixed control elements-->
  <div #backgroundImg id="background-img">
    <img
      srcset= "./assets/avatar/600.png 600w,
               ./assets/avatar/1000.png 1000w,
               ./assets/avatar/1500.png 1500w,
               ./assets/avatar/2000.png 2000w,
               ./assets/avatar/2500.png 2500w,
               ./assets/avatar/3000.png 3000w,
               ./assets/avatar/6000.png 6000w"
      sizes="100vw"
      [alt]="'Image of ' + dataService.languagePack.heading"
      fetchpriority="high" loading="eager"
    />
  </div>
  <div class="progressbar-container"><div #progress_bar class="progressbar"></div></div>
  <sidebar></sidebar>

  <!-- Main content -->
  <main>
    <!-- Renders main-content with lang path parameter-->
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer-section></footer-section>
</div>
