<about-card *ngFor="let about of dataService.about" [content]="about" class="alarm-clock-animated"></about-card>
<about-card *ngIf="dataService.showAboutWebsite" class="alarm-clock-animated" [content]="langService.lang === 'de' ? aboutWebsiteCardDe : aboutWebsiteCardEn">
  <div style="display: flex; flex-wrap: wrap; gap: 0.5rem; margin-top: 0.7rem">
    <badge iconClass="pi-github" link="https://github.com/">GitHub</badge>
    <badge iconRef="assets/svg/angular.svg" link="https://angular.io">Angular</badge>
    <badge iconRef="assets/svg/primeng.svg" link="https://primeng.org/">PrimeNG</badge>
    <badge iconClass="pi-prime" iconColor="#1D4ED8" link="https://primeng.org/icons">PrimeIcons</badge>
    <badge iconRef="assets/svg/gsap.svg" link="https://gsap.com/">GSAP</badge>
    <badge iconRef="assets/svg/lenis.svg" link="https://lenis.studiofreight.com/">Lenis</badge>
    <badge iconRef="assets/svg/EmailJS.svg" link="https://www.emailjs.com">EmailJS</badge>
  </div>
  <div style="margin-top: 3rem; display: flex; justify-content: space-between; align-items: flex-end">
    <custom-button [link]="githubURL">
      <span class="pi pi-github" style="font-size: 2rem"></span>
      {{ langService.lang === "de" ? "Zum GitHub Projekt" : "To the GitHub Project"}}
    </custom-button>
    <!-- TODO: replace app name with app icon -->
    <badge color="white">{{ appName }} {{ appVersion }}</badge>
  </div>
</about-card>
