<!-- Absolute and fixed control elements-->
<div #backgroundImgContainer id="background-img-container">
  <picture>
    <source *ngFor="let src of dataService.backgroundSettings.imageOptions" [srcset]="src.path" [media]="src.media">
    <img class="background-img" src="./assets/avatar/600.png" alt="" fetchpriority="low" loading="eager" decoding="sync"
    (load)="onBackgroundLoaded()" alt="Background image">
  </picture>
  <img class="background-img" [src]="'data:image/jpg;base64,' + dataService.backgroundSettings.preview" alt="Preview of background image">
</div>
<div class="progressbar-container"><div #progress_bar class="progressbar"></div></div>
<sidebar></sidebar>

<!-- Main content -->
<main>
  <!-- Renders main-content with lang path parameter-->
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer-section></footer-section>
