#main-heading {
  color: #ffffff;
  font-size: 9vw;
  letter-spacing: 1.3vw;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom: 7vh;

  // heading not selectable
  user-select: none;
  cursor: default;

  @media (max-aspect-ratio: 1/1) {
    font-size: 13vw;
    letter-spacing: 0.8vw;
    margin-bottom: 0;
  }
}
#main-subheading {
  @extend #main-heading;
  font-size: 2vw;
  letter-spacing: 0.5vw;
  font-style: italic;
  font-weight: 300;
  transform: translateX(-20vw);
  margin-top: 0;
  @media (max-aspect-ratio: 1/1) {
    font-size: 3.5vw;
    margin-bottom: 10vh;
  }
}

.letter {
  transform-origin: 40% 50%;
  display: inline-block;
}

.heading-letter {
  @extend .letter;
  transform: rotateY(270deg);
}

.subheading-letter {
  @extend .letter;
  opacity: 0;
}

.content-container {
  width: var(--main-content-width);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  container-type: inline-size;

  // for rotation
  position: relative;
  //transform-style: preserve-3d; // breaks background-attachment: fixed see https://bugzilla.mozilla.org/show_bug.cgi?id=1352915
  transform-origin: left;
  transition: all .6s ease-in-out;
  &.rotated {
    transition: all .4s ease-in-out;
    //transform: rotateY(calc(1 * var(--rotate-angle)));
    //transform: rotateX(70deg);
    //transform: translateY(-5000px);
    //transform: scale(0.6);
  }
}

:host ::ng-deep {

  .p-timeline-event-separator {
    transform: translateY(calc((2.25rem - 1.6rem) / 2));
    .dot {
      height: 1.6rem;
      width: 1.6rem;
      background-color: #ffffff;
      border-radius: 50%;
      border: 3px solid #262626;
      display: inline-block;
    }
  }

  .timeline-date-light {
    background: white;
    color: #262626;
  }

  .timeline-date-dark {
    background: #262626;
  }

  .p-timeline-vertical.p-timeline-alternate .p-timeline-event:nth-child(2n) {
    .p-timeline-event-content > timeline-card > div {
      transform-origin: right top;
    }
    .p-timeline-event-opposite p-badge span {
      transform-origin: left top;
    }
  }

  .p-timeline-vertical.p-timeline-alternate .p-timeline-event:nth-child(2n + 1) {
    .p-timeline-event-content > timeline-card > div {
      transform-origin: left top;
    }
    .p-timeline-event-opposite p-badge span {
      transform-origin: right top;
    }
  }

}
