:host {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  transition: all .1s ease-in-out;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;

  margin-top: calc(0.3rem / 2);
  margin-bottom: calc(0.3rem / 2 );

  &:not(.extended):hover {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    border: 4px solid rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  &.active:not(.extended) {
    background: #e134e8 !important;
  }
  //&.extended {
  //  position: relative;
  //  transition: all .4s ease-in-out;
  //  width: 20rem;
  //  height: 5rem;
  //  margin: 0 3rem;
  //  border-radius: 20px;
  //  //transform: translateX(-4rem);
  //  font-size: 1.3rem;
  //  &.active {
  //    border: 0;
  //    &::before {
  //      // code from: https://dev.to/afif/border-with-gradient-and-radius-387f
  //      content: "";
  //      position: absolute;
  //      inset: 0;
  //      border-radius: 20px;
  //      padding: 5px;
  //      margin: -5px;
  //      background: linear-gradient(to right, #a445b2, #fa4299);
  //      -webkit-mask:
  //        linear-gradient(#fff 0 0) content-box,
  //        linear-gradient(#fff 0 0);
  //      -webkit-mask-composite: xor;
  //      mask-composite: exclude;
  //    }
  //  }
  //  &:hover {
  //    width: 21rem;
  //    margin: 0 1rem;
  //    height: 5.3rem;
  //    font-size: 1.4rem;
  //    background: rgba(0, 0, 0, 0.3);
  //    cursor: pointer;
  //  }
  //  span {
  //    display: block;
  //  }
  //}
}

span {
  display: none;
  transition: all .4s ease-in-out;
  color: white;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
