<div class="img-container" [class.hidden]="followingMessage">
  <img *ngIf="isLeft()" src="assets/chat-avatar/avatar.png" [alt]="'Chat avatar of ' + dataService.languagePack.heading"
       height="210" width="210">
  <img *ngIf="!isLeft()" src="assets/chat-avatar/anonymous.svg" alt="Chat avatar of unregistered user">
</div>

<div class="fake-triangle" [class.hidden]="followingMessage" [class.not-received]="!sent"></div>

<div class="message-box" [class.not-received]="!sent">
  <div [innerHTML]="text"></div>
</div>
