@import url('https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css');

:host {
  position: absolute;
  z-index: 1000;
}

.sidebar-container {
  position: fixed;
  width: auto;
  min-width: 5.5rem;
  max-width: 30vw;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#lang-selector {
  position: absolute;
  top: 2vh;
  transform: translateX(-32px);
}

#navbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

// Lang Button
:host ::ng-deep {
  .flag-icon {
    width: 100%;
    height: 100%;
  }

  // style parent of flag-active
  a:has(> span.flag-active) {
    border: 2px solid #ffffff;
  }

  span.flag-icon:not(.flag-active) {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  button.p-speeddial-button:focus {
    //box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9dc1fb, 0 1px 2px 0 black; // default setting
    box-shadow: 0 0 0 2px #ffffff;
  }

  .language-button {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFF;

    transition: background 300ms ease-in-out;

    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
